.nav__bar {
  justify-content: space-between;
  flex-direction: row;
  max-width: 1600px;
  padding: 0 5rem;
  margin: 1.5rem auto;
}
.nav__bar-logo-sec {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav__bar-span {
  font-size: 30px;
  font-family: "inter";
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.nav__bar-icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* align-items: center; */
}
.nav__bar-icons a {
  background: #fff;
  height: 15px;
  font-size: 35px;
  padding: 10px;
  color: #000;
  width: 15px;
  border-radius: 100%;
}
@media screen and (max-width: 1250px) {
  .nav__bar {
    flex-direction: column;
    gap: 27px;
    margin-top: 0.5rem;
  }
  .nav__bar-span {
    font-size: 40px;
  }
  .nav__bar-logo-sec .icons {
    font-size: 3rem;
  }
  .nav__bar-icons {
    font-size: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .nav__bar-span {
    font-size: 25px;
  }
  .nav__bar-icons {
    font-size: 1.5rem;
  }

  .nav__bar-logo-sec .icons {
    font-size: 1.5rem;
  }
}
