.nav__bar {
  justify-content: space-between;
  flex-direction: row;
  padding-top: rem;
}
.nav__bar-logo-sec {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav__bar-span {
  font-size: 30px;
  font-family: "inter";
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.nav__bar-icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.nav--icons {
  background: #fff;
  height: 40px;
  width: 40px;
  padding: 7px;
  text-align: center;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}
.nav--icons:hover {
  transform: scale(1.1);
}
.nav--icons a {
  color: #000;
  font-size: 40px;
  transition: all 0.3s ease-in-out;
}
.nav--icons a:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1250px) {
  .nav__bar {
    flex-direction: column;
    gap: 27px;
    margin-top: 0.5rem;
  }
  .nav__bar-span {
    font-size: 40px;
  }
  .nav__bar-logo-sec .icons {
    font-size: 3rem;
  }
  .nav__bar-icons {
    font-size: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .nav__bar-span {
    font-size: 25px;
  }
  .nav__bar-icons {
    font-size: 1.5rem;
  }

  .nav__bar-logo-sec .icons {
    font-size: 1.5rem;
  }
  .nav__bar-icons {
    display: none;
  }
}
