.section-width {
  max-width: 1700px;
  margin: 3rem auto;
  padding: 0 2rem 0 2rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
