@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Poppins:wght@200&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  background: #000;
}

.btn {
  padding: 12px;
  font-family: "poppins";
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.04em;
}
.icons {
  font-size: 45px;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
.p__poppins {
  font-family: "inter";
  line-height: 40px;
  letter-spacing: 0.04em;
  font-size: 20px;
  color: #999999;
}
